header
      ul.main-nav
        li.main-nav__item
          a(href='/posts') Home
        li.main-nav__item
          a(href='/posts/new') New
        li.main-nav__item
          a(href='#') Login
        li.main-nav__item
          a(href='#') Logout