<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">

  <title>New Post</title>
</head>
<body>
  <header>
    <ul class="main-nav">
      <li class="main-nav__item"><a href="#">Home</a></li>
      <li class="main-nav__item"><a href="#">New</a></li>
      <li class="main-nav__item"><a href="#">Login</a></li>
      <li class="main-nav__item"><a href="#">Logout</a> </li>
    </ul>
  </header>
  <div class="main-heading__container">
    <h1 class="main-heading">Create New Post</h1>
  </div>
  <article class="new-post">
    <form class="new-post__form" method="" action="">
      <label class="author-label" for="author">
        Author
        <input type="text">
      </label>
      <textarea placeholder="Tell the world something..." name="" id=""></textarea>
      <button class="submit-button">Submit</button>
    </form>
  </article>
  <footer>

  </footer>
</body>
</html>