doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display:wght@400;700&display=swap', rel='stylesheet')
    link(href="/images/favicon_io/favicon-16x16.png", rel="icon")
    link(rel='stylesheet', href='/css/styles.css')
    title New Post
  body
    include partials/main-nav.pug
    .main-heading__container
      h1.main-heading Sign In
    article.new-post
      form.new-user__form(method='POST', action='/users/login')
        input(name="email", type='text' placeholder="email")
        input(name="password", type='text' placeholder="password")
        button.submit-button(type="submit") Sign In!
    footer
