/* Resets */
*{
  box-sizing: border-box; 
  padding: 0; 
  margin: 0;
}

ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

/* General Styles  */
body{
  font-family: 'Montserrat', sans-serif;
  background: #F2F2F2; 
  font-size: 1rem;
  color: #404040; 
}

h1,
h2,
h3{
  font-family: 'Playfair Display', serif;
  color: #8C6E5D; 
}

.bottom-spacing{
  margin-bottom: 3rem; 
}

.top-spacing{
  margin-top: 3rem; 
}

/* Header Styling */
header{
  width: 100vw; 
}
.main-nav{
  max-width: 900px; 
  display: flex; 
  margin: 1rem auto; 
  font-size: 1.3rem; 
  justify-content: space-between;
  align-items: baseline;
  line-height: 2rem;
  padding: 0 0.5rem; 
}
.main-nav__item a{
  color: #8C6E5D;
}

.main-heading__container{
  margin: 1rem auto; 
  width: fit-content; 
}

.main-heading{
  text-align: center;
  border-bottom: 1px solid #8C6E5D; 
  line-height: 3.2rem;
}

/* Message Cards */
.card-container{
  padding: 0.5rem; 
  margin: 0 auto; 
  max-width: 800px;
}

.card{
  background: rgb(233, 233, 233); 
  margin: 0.8rem auto; 
  min-width: 310px;
  display: flex; 
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  position: relative; 
}

.thumbnail-container{
  margin: 0 0.5rem; 
  padding: 0.1rem 0; 
  max-width: 15rem;
  min-width: 4rem;
  width: 3.8rem; 
  text-align: center;
}

.thumbnail-container > img{
  display: inline-block; 
  width: 95%; 
  vertical-align: middle;
}

.card-content{
  width: 90%; 
  padding: 1rem; 
}
.card-content > h3{
  line-height: 2.2rem;
}

.card-content > p{
  font-size: 0.8rem; 
}

.card-content .card-content__timestamp{
  color: #A6968D; 
  position: absolute;
  top: 1.5rem; 
  right: 1.9rem; 
  font-size: 0.7rem;
}

.icons{
  margin-right: 0rem; 
  display:flex; 
  justify-content: flex-end;
  padding-right: 1rem;
}

.icons > a{
  /* width: fit-content; */
  margin-left: 0.8rem; 
}

#trash-form{
  margin-left: 0.8rem; 
}
#delete-button{
  display: inline-block;
  border: none; 
  padding: 0;
  background: none; 
  width: fit-content; 
  cursor: pointer;
}


#trash-icon{
  color: rgba(255, 61,0, 0.3); 
}
#trash-icon:hover{
  transition: color 0.3s ease-out;
  color:#FF3D00;
}

#edit-icon{
  color: rgba(144, 202, 249, 0.5); 
}
#edit-icon:hover{
  transition: color 0.3s ease-out;
  color: #90CAF9; 
}

/* New Post Styling */
.new-post{
  width: 100vw; 
}

.new-post__form{
  width: 85%; 
  margin: 0 auto; 
}

.author-label{
  display: block;
  width: 80%;
  margin: 1rem auto;
  max-width: 700px;
}

.author-label input{
  margin-left: 1rem;
  font-size: 1.1rem;
  width: 60%; 
  line-height: 1.5rem;
}

.new-post__form > textarea{
  font-size: 1rem;
  display: block;
  margin: 1rem auto; 
  width: 90%; 
  height: 40vh; 
  outline: none; 
  border:1px solid #8C6E5D; 
  padding: 0.5rem; 
  border-radius: 5px;
  max-width: 800px;
}

.new-post__form > button, 
.new-user__form > button{
  line-height: 1.5;
  font-size: 1rem;
  background: #A6968D; 
  color: #F2F2F2; 
  padding: 0.3rem 0.5rem; 
  border-radius: 3px;
  width: 90%; 
  margin: 0.5rem auto; 
  display: block; 
  max-width: 800px; 
}



/* New User Form */
.new-user__form{
  width: 85%; 
  margin: 0 auto; 
  max-width: 500px; 
}

.new-user__form > input{
  display: block; 
  width: 90%; 
  margin: 1rem auto; 
  line-height: 3rem;
  border: none; 
  border-bottom: 1px solid #A6968D;
  padding-left: 1rem; 
  letter-spacing: 0.15rem;
}

.new-user__form > .submit-button{
  height: 3rem; 
}


/* Add Ons */
/* Flash messages */
.message{
  min-width: 300px;
  width: 30%; 
  /* height: 3rem; */
  text-align: center;
  padding: 0.3rem 0.1rem; 
  margin: 0 auto; 
  opacity: 1 ; 
  overflow:hidden; 
  transition:opacity 0.8s cubic-bezier(0.51, 0.21, 0.67, 0.27);
}
.error-message{
  background-color:rgb(236, 153, 145);
  color:rgb(143, 14, 3); 
  border: 1px solid rgb(143, 14, 3);
}

.status-message{
  background-color:rgb(104, 204, 109);
  color:rgb(56, 141, 63);
  border: 1px solid rgb(37, 110, 43);
}

/* Profile Page */
.profile__container{
  margin-top: 2rem;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delete-user__form{
  width: 100%; 
  display: flex;
  justify-content: flex-end;
}

.delete-user__button{
  display: inline-block;
  background-color: #FF3D00;
  border: 1px solid rgb(143, 14, 3);
  color: #F2F2F2; 
  padding: 0.8rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}